//  Primary

$Orange: #ff7d1a;
$HoverOrange: #fe9f56;
$PaleOrange: #ffede0;

// Neutral

$VeryDarkBlue: #1d2025;
$DarkGrayishBlue: #69707d;
$GrayishBlue: #b6bcc8;
$LightGrayishBlue: #f7f8fd;
$White: #ffffff;
$Black: #000000bf;